* {
    margin: 0;
    padding: 0;
}
body {
    background: #ddd;
}
.car-fig {
    position: relative;
    width: 40em;
    height: 28em;
    margin: 10em auto;
}
.fig {
    position: absolute;
    
    width: 200em;   
    height: 100%;
    overflow: hidden;       /**/
}
.fig img {
    float: left;
    width: 40em;
    height: 100%;
}
.fig .on {              
    /*display: inline;*/
}
.btns {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    cursor: default;
}
.btns span {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: .4em .2em;
    border-radius: 50%;
    background: #ccc;
}
.btns .on {
    background: #a44;
}
.arrow {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);   
    font-size: 2em;
    color: #bbb;
    background: rgba(0,0,0,0.2);
    text-decoration: none;
    cursor: pointer;
}
.arrow:hover {
    background: rgba(0,0,0,0.6)
}
.car-fig:hover .arrow {
    display: inline-block;
}
.pre {
    left: 1em;
}
.next {
    right: 1em;
}